<%= render partial: 'templates/logout' %>

<div ng-repeat="album in albums">
  <div>
    <img ng-src="{{ album.image }}" ng-click="getPhotos(album)"/>
    <label>{{ album.title }}</label>
  </div>
</div>
