<% if session[:access_token] %>
  <nav class="navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <img src="assets/picasa_logo.png">
          G+ Picasa Browser
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-right">
          <button id="logout" class="btn btn-default" logout>Logout</button>
        </div>
      </div>
    </div>
  </nav>
<% end %>