<div class="row">
  <div class="col-lg-12">
    <div class="welcome-heading">
      <h1>Google Album Browser</h1>

      <h3>A Simple Picasa explorer by Sny</h3>

      <button id="signinButton" class="btn btn-danger btn-lg">Google+</button>
    </div>
  </div>
</div>
